<%= link_to("All #{resource.class.name.pluralize.capitalize}", send("admin_#{ resource_as_sym.to_s.pluralize}_path"), class: "btn btn-default") if current_user.admin? %>
<br><br>
<table class="table">
  <tr>
    <% collection_attributes.each do |header| %>
      <th><%= header.to_s.titleize %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <tr>
    <% form_attributes.each do |attr| %>
      <td><%= resource.send(attr) %></td>
    <% end %>
    <td id="<%= resource_as_sym %>-<%= resource.id %>">
      <div class="btn-group">

      <%= link_to 'Delete', admin_student_path(resource), method: 'delete', class: "btn btn-danger" %>
      <%= link_to 'Rebuild Schedule', admin_student_rebuild_schedule_path(resource), class: "btn btn-info" %>
      </div>
    </td>
  </tr>
</table>

<h2>Daily Schedule</h2>
<table class="table">
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th>Activity Name</th>
  </tr>
  <% resource.events.each do |event| %>
  <tr>
    <td><%= event.start_time.strftime("%I:%M %p") %></td>
    <td><%= event.end_time.strftime("%I:%M %p") %></td>
    <td><%= event.location.try(:name) %></td>
    <td><%= event.title %></td>
  </tr>
  <% end %>
</table>
