<%= link_to "New #{resource_class}", send("new_admin_#{resource_as_sym}_path"), class: "btn btn-success" %>
<br><br>
<table class="table">
  <tr>
    <% collection_attributes.each do |header| %>
      <th><%= header.capitalize %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% collection.each do |resource| %>
    <tr>
      <% collection_attributes.each do |attribute| %>
        <td>
          <%= resource.send(attribute) unless attribute == :grove %>
          <%= resource.send(attribute).name if attribute == :grove %>
        </td>
      <% end %>
      <td>
        <%= link_to "View", send("admin_#{resource_as_sym}_path", resource), class: "btn btn-default" %>
        <%= link_to "Edit", send("edit_admin_#{resource_as_sym}_path", resource), class: "btn btn-default" %>
        <%= link_to "Delete", send("admin_#{resource_as_sym}_path", resource), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
