<div class="grove-monitor text-center">
  <h2>Grove Monitor</h2>
</div>

<ul class="row nav nav-pills">
  <li role="presentation" class="active"><%= link_to "All", admin_grove_monitor_all_path %></li>
  <li role="presentation" class="active"><%= link_to "Absent", admin_grove_monitor_path(filter: :absent) %></li>
  <li role="presentation" class="active"><%= link_to "Lost", admin_grove_monitor_path(filter: :lost) %></li>
  <% @presenter.locations.keys.each do |location| %>
    <li role="presentation" class="active"><%= link_to location, admin_grove_monitor_path({filter: :location, name: location}) %></li>
  <% end %>
</ul>

<div class="container">
  <div class="row">
    <div class="lost-students">

    <h2>Lost</h2>

    <%= render partial: "student", collection: @presenter.lost_students %>

    </div>
    <div class="absent-students">

    <h2>Absent</h2>

    <%= render partial: "student", collection: @presenter.absent_students %>

    </div>
    <% @presenter.locations.each do |(location, students)| %>
      <h2><%= location %></h2>

      <%= render partial: "student", collection: students %>

    <% end %>
  </div>
</div>
