<div class="grove-monitor text-center">
  <h2>Grove Monitor</h2>
</div>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "All", admin_grove_monitor_all_path %></li>
  <li role="presentation" class="active"><%= link_to "Absent", admin_grove_monitor_path(filter: :absent) %></li>
  <li role="presentation" class="active"><%= link_to "Lost", admin_grove_monitor_path(filter: :lost) %></li>
  <% @locations.each do |location| %>
    <li role="presentation" class="active"><%= link_to location.name, admin_grove_monitor_path({filter: :location, name: location.name}) %></li>
  <% end %>
</ul>

<div class="container">
  <div class="row">
  <% @students.each do |student| %>
      <div class="col-xs-3">
        <div class="thumbnail">
          <img src="<%= student.avatar %>" alt="student image">
          <div class="caption">
            <h3><%= student.name %></h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>
