<div class="<%= "container event-details #{event.status_class}" %>" data-endtime="<%= event.end_time %>" data-duration="<%= event.duration %>">

  <div class="event-images row">
      <%= panel(event.left_panel) %>
      <%= panel(event.middle_panel) %>
      <%= panel(event.right_panel) %>
  </div>
  <br>
  <% if !event.scanned_in? %>
    <div class="col-md-12 text-center" id="scan-location-button">
      <%= scan_in_link(event) %>
    </div>
  <% end %>
</div>
