<div class="<%= "container event-details #{event.status_class}" %>" data-endtime="<%= event.end_time %>" data-duration="<%= event.duration %>">

  <div class="event-images row">
      <%= panel(event.location_image, event.location_name) %>
      <%= panel(event.activity_image, event.activity_name) %>
      <%= panel(event.creator_image, event.creator_name) %>
  </div>
  <br>
  <% if !event.scanned_in? %>
    <div class="col-md-12 text-center" id="scan-location-button">
      <%= scan_in_link(event) %>
    </div>
  <% end %>
</div>
